[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[user]
	name = DominionDev
    email = dominionthedeveloper@gmail.com

[init]
    defaultBranch = main

[include]
    path = ~/.config/delta/themes/catppuccin.gitconfig

[delta]
    features = catppuccin-mocha
    navigate = true
    side-by-side = true
    line-numbers = true
    merge-conflict-begin-symbol = "▼▼▼"
    merge-conflict-end-symbol = "▲▲▲"
    merge-conflict-ours-diff-header-style = bold green
    merge-conflict-theirs-diff-header-style = bold red

[core]
    editor       = nvim
    excludesfile = ~/.gitignore_global
    pager = delta
    autocrlf     = input

[interactive]
  diffFilter = delta --color-only

[color]
    ui = auto

[color "diff"]
    trueColor = always

[alias]
    s = status
    co   = checkout
    cob  = checkout -b
    cm   = commit -m
    ca   = commit --amend
    cane = commit --amend --no-edit
    p    = push
    pf   = push --force-with-lease
    pl   = pull
    lg   = log --oneline --graph --decorate -20
    lga  = log --oneline --graph --decorate --all
    last = log -1 HEAD
    d    = diff
    ds   = diff --staged
    fp   = fetch --prune
    sw   = switch
    swc  = switch -c
    undo = reset --soft HEAD~1
    who  = shortlog -sn --no-merges

[feature]
    manyFiles = true

[maintenance]
    auto = false

[credential "https://github.com"]
	helper = 
    helper = !/usr/local/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
